{% extends 'base.html' %}}

{% load static %}

{% block content %}

<div class="about-container">
    <span class="about-text">
        <p>This project is a fan project and is not affiliated with Succession, HBO, or its creators. </p>
        <p>All rights to Succession, including characters, images, and other related elements, belong to HBO and their respective creators.</p>
        <p>This project is intended for personal and educational purposes only, with no intent to infringe on these rights.</p>
        <br>
        <p>Created and developed by Steve Mas, 2024.</p>
    </span>
</div>

{% endblock content %}