{% extends 'base.html' %}}

{% load static %}

{% block content %}

<div class="hero-container">

    <img class="hero-banner" src="/static/images/hero.png" alt="succession moods hero banner">
    <img class="hero-banner-mobile" src="/static/images/logo.png" alt="succession moods logo">

    <div class="hero-text">
        <h1 class="highlighted-text">
            <span>Discover Your Favorite</span><br>
            <span>Character’s Emotional</span><br>
            <span>Rollercoaster</span>
        </h1>
        <h3>
            Follow the mood journey of Logan, Kendall, Shiv, and more, and discover the emotions behind every game-changing moment.
        </h3>
    </div>

</div>

{% endblock content %}