@font-face {
    font-family: sackers-gothic;
    src: url(../fonts/sackers-gothic.otf);
}

@font-face {
    font-family: Quicksand_Book;
    src: url(../fonts/Quicksand_Book.otf);
}

html {
    overflow-y: scroll;
    margin: 0;
}

body {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
}

h1 {
    font-family: sackers-gothic;
    font-size: 38px;
}

hr {
    border: none;
    height: 1px;
    background-color: #c6289a;
}

.underlined {
    text-decoration: underline;
    text-decoration-color: #c6289a;
}

.logo {
    width: 60px;
    height: auto;
    padding-top: 10px;
}

.button-menu {
    position: relative;
    text-decoration: none;
    font-family: sackers-gothic;
    font-size: 10px;
    color: #42494D;
    margin-left: 4px;
    margin-right: 4px;
    transition: color 0.3s ease;
}

.button-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #c6289aff;
    transition: width 0.3s ease;
}

.button-menu:hover {
    color: black;
}

.button-menu:hover::after {
    width: 100%;
}

.hero-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-banner {
    display: none;
}

.hero-banner-mobile {
    margin-top: 20px;
    width: 120px;
    height: auto;
}

.hero-text {
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;
    font-size: 12px;
    font-family: sackers-gothic;
}

.highlighted-text {
    font-size: 20px;
    font-weight: bold;
    color: #141414;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.scoop-container {
    display: none;
}

.scoop-title {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin-left: 30px;
    transform: rotate(-5deg);
    display: inline-block;
    background-color: yellow;
    padding: 0 8px;
}

.scoop {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 225px;
}

.scoop-img {
    width: 200px;
    height: auto;
}

.exclusive-container {
    display: none;
}

.exclusive-container::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        -135deg,
        #c6289a,
        #c6289a 3px,
        transparent 3px,
        transparent 6px
    );
    z-index: -1;
}

.exclusive-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #c6289aff;
}

.exclusive-text {
    font-size: 20px;
}

.moods-container {
    display: flex;
    align-items: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.graphic-title {
    margin-left: 35px;
    margin-top: 10px;
    font-size: 16px;
}

.graphic {
    width: 280px;
}

.moods-intro-text {
    width: 280px;
    text-align: left;
}

.head-container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text {
    margin-top: 50px;
    font-family: Quicksand_Book;
    font-size: 15px;
    transform: rotate(-3deg);
}

.arrow-img {
    display: none;
}

.character-head {
    width: 50px;
    height: auto;
}

.character-name {
    font-size: 16px;
    font-weight: bold;
}

.about-container {
    margin-top: 120px;
    width: 280px;
    height: auto;
}

.about-text {
    font-family: Quicksand_Book;
    font-weight: bold;
    font-size: 12px;
}

#title {
    display: none;
}

#header-menu {
    display: flex;
    justify-content: center;
}

#menu-header {
    margin-left: 90px;
}

@media (min-width: 481px) and (max-width: 1024px) {
    /* Tabs */

    header {
        height: 70px;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    .hero-banner {
        display: block;
        width: 300px;
        height: auto;
    }

    .hero-banner-mobile {
        display: none;
    }

    .hero-text {
        margin-left: 40px;
        margin-right: 40px;
        width: 380px;
        font-size: 13px;
        font-family: sackers-gothic;
    }

    .highlighted-text {
        font-size: 28px;
    }

    .button-menu {
        font-size: 12px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .container {
        margin-top: 120px;
    }

    #title {
        display: flex;
        align-items: center;
        margin-left: 150px;
        font-size: 38px;
    }

    .stats-container {
        display: flex;
        align-items: center;
        width: 600px;
        margin-left: 60px;
        margin-right: 60px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        border: 1px solid;
        box-shadow: #c6289aff 5px 5px 12px;
    }

    .graphic-title {
        margin-top: 20px;
    }

    .graphic {
        margin-left: 50px;
        width: 450px;
    }

    .stats-container {
        flex-direction: row;
    }

    .head-container {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .character-head {
        width: 60px;
        height: auto;
    }

    .moods-intro-text {
        width: 380px;
    }

    .intro-text {
        margin-top: 50px;
        margin-left: 45px;
        margin-right: 20px;
        font-size: 19px;
    }

    .arrow-img {
        display: block;
        margin-left: 30px;
        margin-top: 25px;
        width: 100px;
        height: auto:
    }

    .about-container {
        margin-top: 20px;
        width: 350px;
        height: auto;
    }

    .about-text {
        font-size: 16px;
    }

}

@media (min-width: 1025px) {
    /* Laptops */

    header {
        height: 80px;
    }

    .hero-container{
        margin-top: 120px;
    }

    .hero-banner {
        display: block;
        width: 500px;
        height: auto;
    }

    .hero-banner-mobile {
        display: none;
    }

    .logo {
        width: 120px;
        height: auto;
    }

    .hero-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text {
        margin-left: 60px;
        width: 500px;
        font-size: 15px;
        font-family: sackers-gothic;
    }

    .highlighted-text {
        font-size: 36px;
    }

    .button-menu {
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container {
        margin-top: 120px;
    }

    #title {
        display: flex;
        align-items: center;
        margin-left: 200px;
        font-size: 38px;
    }

    .scoop-container {
        display: block;
        width: 200px;
        font-size: 14px;
        font-family: sackers-gothic;
    }

    .exclusive-container {
        display: block;
        font-family: sackers-gothic;
        border: 1px solid black;
        width: 200px;
        height: auto;
        padding: 10px;
        position: relative;
        background: white;
    }

    .stats-container {
        display: flex;
        align-items: center;
        width: 600px;
        margin-left: 60px;
        margin-right: 60px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        border: 1px solid;
        box-shadow: #c6289aff 5px 5px 12px;
    }

    .graphic-title {
        margin-top: 30px;
    }

    .graphic {
        margin-left: 50px;
        width: 450px;
    }

    .stats-container {
        flex-direction: row;
    }

    .moods-intro-text {
        width: 410px;
    }

    .intro-text {
        margin-top: 50px;
        margin-left: 45px;
        margin-right: 20px;
        font-family: Quicksand_Book;
        font-size: 21px;
        transform: rotate(-3deg);
    }

    .head-container {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .character-head {
        width: 70px;
        height: auto;
    }

    .arrow-img {
        display: block;
        margin-left: 30px;
        margin-top: 25px;
        width: 100px;
        height: auto:
    }

    .about-container {
        margin-top: 50px;
        width: 350px;
        height: auto;
    }

    .about-text {
        font-size: 18px;
    }
}