{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="moods-container">

    <div class="scoop-container">
        <span class="scoop-title">Scoop</span>
        <div class="scoop">
            <img class="scoop-img" src="/static/images/scoop-shiv.png" alt="shiv-scoop">
            <p>"I am a hundred feet tall. These people are pygmies."</p>
        </div>
        <hr>
        <div class="scoop">
            <img class="scoop-img" src="/static/images/scoop-roman.png" alt="shiv-scoop">
            <p>"I’m just generally down for whatever humiliates someone else for my amusement."</p>
        </div>
    </div>

    <div class="stats-container">
        <div class="head-container">
            <a class="head-button" href="{% url 'character_moods' 'ROMAN' '1' %}">
                <img class="character-head" src="/static/images/roman.png" alt="shiv head">
            </a>
            <a class="head-button" href="{% url 'character_moods' 'KENDAL' '1' %}">
                <img class="character-head" src="/static/images/kendal.png" alt="shiv head">
            </a>
            <a class="head-button" href="{% url 'character_moods' 'LOGAN' '1' %}">
                <img class="character-head" src="/static/images/logan.png" alt="shiv head">
            </a>
            <a class="head-button" href="{% url 'character_moods' 'SHIV' '1' %}">
                <img class="character-head" src="/static/images/shiv.png" alt="shiv head">
            </a>
            <a class="head-button" href="{% url 'character_moods' 'TOM' '1' %}">
                <img class="character-head" src="/static/images/tom.png" alt="shiv head">
            </a>
        </div>

        <div class="moods-intro-text">
            {% if graph_html %}

                <div class="graphic-title">
                    <form>
                        <label for="options" data-character="{{ character_name }}"><span class="character-name">{{ character_name }}</span> across season</label>
                        <select id="options" name="options"  onchange="submitForm()">
                            <option value="1" {% if season == "1" %}selected{% endif %}>one</option>
                            <option value="2" {% if season == "2" %}selected{% endif %}>two</option>
                            <option value="3" {% if season == "3" %}selected{% endif %}>three</option>
                            <option value="4" {% if season == "4" %}selected{% endif %}>four</option>
                        </select>
                    </form>
                </div>

                <div class="graphic">
                    {{ graph_html|safe }}
                </div>

            {% endif %}
            {% if not graph_html %}
                <div class="intro-container">
                    <img class="arrow-img" src="/static/images/arrow.png" alt="arrow">
                    <h3 class="intro-text">
                        Select a character to explore their emotional highs and lows across <span class="underlined">episodes</span>.
                    </h3>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="exclusive-container">
        <span class="exclusive-title">Exclusive</span>
        <p class="exclusive-text">How the Roy Siblings Are ‘Breaking Away’ as Logan’s Shadow Looms — and Shaping Succession’s Legacy Into Their Own</p>
    </div>

</div>

{% endblock content %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function submitForm() {
            const optionValue = document.getElementById('options').value;
            const characterName = document.querySelector('label').getAttribute('data-character');
            const url = `/moods/graph/${characterName}/${optionValue}/`;
            console.log(`Redirecting to: ${url}`);
            window.location.href = url;
        }
        window.submitForm = submitForm;
    });
</script>
{% endblock %}