<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succession Moods</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>

    <span id="title">
        <a class="link-home">
            <img class="logo" src="/static/images/logo.png" alt="succession moods logo">
        </a>
    </span>
    <span id="header-menu">
        <a class="button-menu" href="">Menu</a>
        <a class="button-menu" href="">Menu</a>
        <a class="button-menu" href="">Menu</a>
        <a class="button-menu" href="">Menu</a>
    </span>

</header>


<div class="container">
    <img class="hero-banner" src="/static/images/hero.png" alt="succession moods hero banner">
</div>


<footer>
    <div>
        © 2024 Succession moods - All rights reserved
    </div>
</footer>
</body>
</html>